@charset "utf-8";
body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }
#service_page :not(INPUT):not(TEXTAREA) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ui-overlay-a, .ui-page-theme-a { background-color: #FFF; }
hr {
        border:none;
        background-color: #48533c;
        text-align:left;
        clear: both;
}
#header {
        background-color: #48533c;
        border: 1px solid #ccc;
	border: none;

}
#header hr {
        border: 1px solid #48533c;
        clear: both;
}
.listview { clear: both; }
.listview a { padding: 0px; background-color: #F6F6F6; }
.listview p {
        display: block !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-shadow: none;
        font-style: normal;
        font-family: "굴림", "Helvetica Neue";
        color: #444;
        font-size: inherit !important;
}
.ui-page-theme-a .ui-btn.ui-btn-active { background-color: #F6F6F6; border-color: #DDD;}
.ui-page-theme-a .ui-btn:focus { box-shadow: none; }

.listview .line_title { float: left; display:inline-block; }
.listview .line_title p {
        padding-left: 0.5em;
        line-height: 2em;
	margin-bottom:0em;
}
.listview .line_status { float: left; display: table; }
.listview .line_status p { line-height: 2em; }
.listview .line_status span { display: table-cell;      vertical-align: middle; }
.listview .line_status img {
        height: 1em;
        width: 1em;
        padding-top: 0.3em;
        padding-right: 0.3em;
}
.listview .line_value { clear: both; height: 2em; }
.listview .line_value p { padding-left: 0.5em; color: #888; }
#right_main, #right_sub {
        clear: both;
        margin-bottom: 10px;
        overflow: hidden;
}
.lc_left {
        display: table;
        float: left;
        line-height: 2.5em;
        height: 2.5em;
        margin-top: 2px;
        width: 7.5em;
}

#right_main .lc_left span {
        display: table-cell;
        vertical-align: middle;
        width: 0.7em;
}
#right_main .lc_left span img {
        height: 5px;
        width: 5px;
        margin-bottom: 0.2em;
}
#right_main .lc_row { clear: both; overflow : hidden; }

.lc_right {
        float: left;
//        width: 16.5em;
        overflow: hidden;
}
.lc_right_ipdisk { width: 16em; }

#right_main .value p { width: 50px; }
#right_main #desc p,
#right_sub #desc p { color: #777; line-height: 1.5em; }
#right_sub #desc .title { margin-bottom: 5px; }

.custom_css_button {
        width: 7em;
        height: 2.3em;
        margin:.3em;
	margin-top:0.1em;
}

/*local css*/
#maincontent >div { overflow:hidden;}

#maincontent .lc_grayfont_text{color:#777; text-overflow:ellipsis; white-space:nowrap;}
#maincontent .lc_line_div {line-height:1.7em; height:1.7em; width:100%;}
#maincontent .lc_leftbox_div {width:auto; float:left;}
#maincontent .lc_leftbox_div p { margin-left : 0.5em;}
#maincontent .lc_rightbox_div {float:right; width:auto; margin-right:1em; text-align:right;}

#maincontent ul li.internettype img { padding-top : 0.7em;}

.lc_onoffline_left{
	display:inline-block !important;
	width:49%;
	float:left;
}
.lc_onoffline_right{display:inline-block !important; padding:.7em 0em 0 0;}

#listview li >a { border: 0; }
#maincontent{
	font-size:1.1em;
	background-color:#FFFFFF;
	width:100%;
	float:left;
}
.setup_page{float:right !important;}
.cc_iconbar{
	height:2em;
	margin-top:0.35em;
	width:2px;
	background-color:#444;
	float:left;
	margin-right:.7em;
	margin-left:.7em;
}
.ui-slider{float:left;}
.custom_css_button span{width:7em; font-family:"굴림";}
